<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Rain</title>
</head>
<body>
<style>
body{
    background-image: url("https://images.pexels.com/photos/1438833/pexels-photo-1438833.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
</style>

    <div class="login">
        <center><h1 style="color:rgba(28, 74, 211, 0.862);font-size:50px;">NO CHANCES OF RAIN</h1></center>
    </div>
</body>
</html>